body,
html { 
  background: url(photo_background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
	 }
hr {
	border-color: #407F7F;
	text-align: center;
	border-width: 5px;	
	max-width: 65px;
}
H1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	color: grey;
}
.buffer {
	height: 8rem;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	text-align: center;
}

.btn-secondary {
	background-color: #407F7F;
	text-align: center;
	border-color: #407F7F;
}
.btn-secondary:hover {
	background-color: #669999;
	border-color: #669999;
	border-width: 4px;
}
.button1{
	padding: 1rem 2rem;
}